@using StoreApp.BusinessLogic
@model StoreApp.WebApp.OrderViewModel

@{
    ViewData["Title"] = "orders";
}

@{
}

<h4>order history</h4>
<form asp-controller="OrderItem" asp-action="List" method="post">
    <p>
        <select name="LocationName">
            <option value="">all locations</option>
            @foreach (BusinessLocation location in ViewData["Locations"] as IEnumerable<BusinessLocation>) {
                <option value=@location.LocationName>@location.LocationName</option>
            }
        </select>
        <input type="submit" value="filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders.First().OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.First().Customer.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.First().Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.First().Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.First().OrderDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">
                    <i class="material-icons">more_horiz</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>