@model IEnumerable<StoreApp.WebApp.OrderItemViewModel>

@{
    ViewData["Title"] = "Submit";
}

<h4>order complete!</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
    </tbody>
</table>
<h6>total</h6>
<p>@ViewData["Total"]</p>
<div>
    <a asp-controller="Home" asp-action="Index">
        <i class="material-icons">subdirectory_arrow_left</i>
    </a>
</div>
