@model StoreApp.WebApp.OrderItemViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "product details";
    int stock = (int) ViewData["Stock"];
    var username = @HttpContextAccessor.HttpContext.Session.GetString("Username");
}

<h4>product details</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            <p>@stock</p>
        </dd>
    </dl>
</div>
<form asp-controller="OrderItem" asp-action="Create" asp-action="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{ if (stock > 10) stock = 10; }
    @if (stock > 0 && username != null && username != "admin") {
        <div class="form-group">
            <label asp-for="Quantity" class="control-label">Quantity</label>
            @{ var range = new SelectList(Enumerable.Range(1, stock)); }
            @Html.DropDownList("Quantity", range, new { @class = "form-control" })
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Product.ProductId" value=@Model.Product.ProductId/>
            <input type="hidden" asp-for="Product.ProductPrice" value=@Model.Product.ProductPrice/>
            <input type="hidden" asp-for="Product.ProductName" value=@Model.Product.ProductName/>
            <input type="hidden" asp-for="Location.LocationId" value=@Model.Location.LocationId/>
            <input type="hidden" asp-for="Location.LocationName" value=@Model.Location.LocationName/>

            <input type="submit" value="Add to cart" class="btn btn-primary" />
        </div>
    }
</form>
<div>
    <a asp-action="Index">
        <i class="material-icons">subdirectory_arrow_left</i>
    </a>
</div>
