@using StoreApp.BusinessLogic;
@model StoreApp.WebApp.InventoryViewModel

@{
    ViewData["Title"] = "products";
}

<h4>products for sale</h4>

<form asp-controller="Inventory" asp-action="Index" method="post">
    <p>
        <select name="LocationName">
            <option value="">all locations</option>
            @foreach (var location in ViewData["Locations"] as IEnumerable<BusinessLocation>) {
                <option value=@location.LocationName>@location.LocationName</option>
            }
        </select>
        <input type="text" name="SearchString" placeholder="search by product name"/>
        <input type="submit" value="filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventories.First().Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventories.First().Product.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventories.First().Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventories.First().Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inventories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.InventoryId">
                    <i class="material-icons">more_horiz</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
